<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="icon" href="../Imagenes/favicon.ico" type="image/x-icon">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
    </style>
  </head>
  <body>
    <div class="sidebar_menu">
      <div>
        <h3>Menu</h3>
      </div>
      <img
        src="../Imagenes/logo_unal_blanco-negro.png"
        alt="logo_unal"
        width="280"
        height="147"
      />
      <h3>Bienvenido "usuario" :D</h3>
      <ul>
        <li>Dashboard</li>
        <li>Mis Solicitudes</li>
        <li>Nueva Solicitud</li>
      </ul>
      <div class="cerrar_sesion">Cerrar Sesión</div>
    </div>
    <div class="contenido">
      <div class="titulo">
        <h1>Dashboard</h1>
      </div>

      <div class="sol_activas">
        <h2>Comentarios Recibidos Recientemente</h2>
        <table>
          <thead>
            <tr>
              <th>Id Comentario</th>
              <th>Id Solicitud</th>
              <th>Nombre del Tramite</th>
              <th>Entidad Administrativa</th>
              <th>Contenido</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Celda 1</td>
              <td>Celda 2</td>
              <td>Celda 3</td>
              <td>Celda 4</td>
              <td>Celda 5</td>
              <td>Celda 6</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
